:root {
    --bg-color: #000000;
    --text-color-light: #e0e0e0;
    --text-color-dark: #333;
    --primary-color-green: #9ae6b4;
    --secondary-color-yellow: #f6e05e;
    --box-bg-color: #2d3748;
    --box-border-color-rick: #9ae6b4;
    --box-border-color-morty: #63b3ed;
    --heading-color: #00f9a0;
    --link-color: #63b3ed;
    --link-hover-color: #4299e1;
    --navbar-bg: #21252900;
    --navbar-link-color: #e0e0e0;
    --navbar-link-hover-color: #00f9a0;
    --navbar-link-active-color: var(--secondary-color-yellow); 
    --header-logo-max-width: 300px;

    --color-lightblue: hsl(200, 80%, 70%);
    --color-morty-box: hsl(207, 70%, 66%);

    --card-border-color: #63b3ed;
    --card-bg-color: #2d3748;
    --card-text-color: var(--text-color-light);

    /* Variables para el estado hover de las tarjetas */
    --card-hover-bg-color: #000000;
    --card-hover-border-color: cyan;
    --card-hover-text-color: #ffffff;
    --card-hover-title-color: var(--secondary-color-yellow); /*Amarillo anaranjado de titulos*/


    --pagination-border-color: var(--card-border-color);
    --pagination-link-color: var(--card-text-color);
    --pagination-link-bg: var(--card-bg-color);
    --pagination-active-border-color: var(--heading-color);
    --pagination-active-bg: var(--heading-color);
    --pagination-active-color: var(--bg-color);
    --pagination-disabled-color: #6c757d;
    --pagination-disabled-bg: #343a40;
    --pagination-disabled-border-color: #454d55;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-light);
    font-family: 'Share Tech Mono', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    padding: 20px 0;
    background-color: #000;
}

header img.img-fluid {
    max-width: var(--header-logo-max-width);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: var(--navbar-bg) !important;
}

.navbar-logo-mobile {
    max-width: 150px;
    height: auto;
}

.navbar .navbar-nav .nav-link {
    color: var(--navbar-link-color);
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--navbar-link-hover-color);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--navbar-link-active-color);
    border-bottom: 2px solid var(--navbar-link-active-color);
}

main {
    padding-bottom: 40px;
}

article {
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 20px;
    border: 10px solid;
}

.row:nth-child(1) article {
    border-color: var(--color-lightblue);
    background-color: hsla(200, 80%, 70%, 0.2);
}

.row:nth-child(1) article h2 {
    color: #ffffff;
}

.row:nth-child(2) article {
    border-color: var(--color-morty-box);
    background-color: hsla(207, 70%, 66%, 0.2);
}

.row:nth-child(2) article h2 {
    color: var(--heading-color);
}

article h2 {
    color: var(--heading-color);
    margin-top: 0;
}

article p {
    color: var(--text-color-light);
}

article ul {
    color: var(--text-color-light);
    padding-left: 20px;
}

article ul li {
    margin-bottom: 8px;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article .text-end img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

footer {
    background-color: #0d0d0d;
    color: var(--text-color-light);
    padding: 20px 0;
    font-size: 0.9em;
    text-align: center;
}

.navbar,
footer,
main {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

main {
  padding: 20px;
  border-radius: 10px;
}

/* Estilos para las tarjetas en las listas dinámicas de la API*/
#characters-list .card,
#episodes-list .card,
#locations-list .card {
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
    border: 5px solid var(--card-border-color);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    /* Transición suave entre el estado normal y hover en las tarjetas */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#characters-list .card-img-top,
#episodes-list .card-img-top, /* por si ponemos imagen a los episodios */
#locations-list .card-img-top { /* y por si ponemos imagen a las localizaciones*/
    width: 100%;
    height: auto;
}


#characters-list .card-body,
#episodes-list .card-body,
#locations-list .card-body {
    padding: 15px;
}

#characters-list .card-title,
#episodes-list .card-title,
#locations-list .card-title {
    color: var(--heading-color); 
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

#characters-list .card-text,
#episodes-list .card-text,
#locations-list .card-text {
    color: var(--card-text-color); 
    font-size: 0.95rem;
    margin-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Estilo para el hover en tarjetas */
#characters-list .card:hover,
#episodes-list .card:hover,
#locations-list .card:hover {
    transform: scale(1.05); /* Aumentar tamaño */
    background-color: var(--card-hover-bg-color);
    border-color: var(--card-hover-border-color);
}

/* párrafos dentro de la tarjeta cambien a color blanco en hover */
#characters-list .card:hover p,
#episodes-list .card:hover p,
#locations-list .card:hover p {
    color: var(--card-hover-text-color); 
}

/* Estilo para los títulos (h5) dentro de las tarjetas en el hover */
#characters-list .card:hover h5,
#episodes-list .card:hover h5,
#locations-list .card:hover h5 {
    color: var(--card-hover-title-color); /* Colorcillo amarillento anaranjado para títulos */
}


/* Estilos para la paginación */
.pagination .page-item .page-link {
    background-color: var(--pagination-link-bg);
    color: var(--pagination-link-color);
    border: 2px solid var(--pagination-border-color);
    margin: 0 3px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border-radius: 5px;
}


.pagination .page-item.active .page-link {
    background-color: var(--pagination-active-bg);
    border-color: var(--pagination-active-border-color);
    color: var(--pagination-active-color);
    font-weight: bold;
}

.pagination .page-item.disabled .page-link {
    color: var(--pagination-disabled-color);
    background-color: var(--pagination-disabled-bg);
    border-color: var(--pagination-disabled-border-color);
    cursor: not-allowed;
}

.pagination .page-item .page-link:hover:not(.disabled) {
    background-color: var(--pagination-border-color);
    border-color: var(--pagination-active-border-color);
    color: var(--pagination-active-color);
}

#dificultad {
    margin: 20px 0;
}

#dificultad button {
    background-color: transparent;
    border: 2px solid var(--primary-color-green);
    color: var(--primary-color-green);
    padding: 12px 24px;
    margin: 10px;
    font-size: 1rem;
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#dificultad button:hover {
    background-color: var(--primary-color-green);
    color: var(--bg-color);
}

.tablero {
    display: grid;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.card {
    perspective: 1000px;
    width: 100%;
    aspect-ratio: 1 / 1;
} 

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.revelada .card-inner {
  transform: rotateY(180deg);
}


.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 4px solid var(--card-border-color);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--card-bg-color);
    border: 2px solid var(--card-border-color);
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.1);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover .card-face {
  box-shadow:
    0 0 5px #00f9a0,
    0 0 10px #63b3ed,
    0 0 15px #f6e05e;
  border-color: #00f9a0;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
}

.card-front {
    background-image: url("../media/img/Portal.png");
    background-size: contain;         
    background-repeat: no-repeat;
    background-position: center;   
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  pointer-events: none;
}

.card:hover {
    transform: scale(1.05);
    border-color: var(--card-hover-border-color);
}

/* .card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
} */

.card.revelada img {
    display: block;
}

/* Cuando está revelada, el fondo desaparece y se ve la imagen real */
/* .card.revelada {
  background-image: none;
} */

.contenedor-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

main {
    width: 100%;
    max-width: 1000px;
}

body {
  background: radial-gradient(ellipse at bottom, #050505 0%, #000000 100%);
  color: var(--text-color-light);
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

/* Cielo estrellado animado */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 2px, transparent 2px),
    radial-gradient(white 2px, transparent 2px);
  background-size: 150px 150px;
  background-position: 
    0 0,
    75px 75px,
    37px 100px,
    120px 37px;
  animation: moveStars 200s linear infinite;
  z-index: -1;
  opacity: 0.2;
  filter: drop-shadow(0 0 2px white);
}


@keyframes moveStars {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100px, -100px);
  }
}



/* @media (min-width: 1024px) {
    .tablero {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 1023px) {
    .tablero {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

@media (max-width: 600px) {
    .tablero {
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    }
} */






/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar .navbar-nav .nav-link {
        margin: 5px 0;
    }

    header img.img-fluid {
        max-width: 70%;
    }

    .navbar-logo-mobile {
         max-width: 120px;
    }

    #characters-list .col-sm-6 {
    }

    .pagination {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pagination .page-item {
        margin-bottom: 5px;
    }
}